header {
  width: 100%;
  background: rgba(0,0,0,0);
  height: 30px;
  line-height: 50px;
}

.home {
  color: rgba(0,0,0,0.7);
}

.menutitle {
  color: rgba(0,0,0,0.7);
}

.hamburger {
  color: rgba(0,0,0,0.7);
}

.cross {
  color: rgba(0,0,0,0.7);
}

.menu {
  color: rgba(0,0,0,0.7);
  background: rgba(127,127,127,1);
}

.menu a{
  color: rgba(0,0,0,0.7);
  background: rgba(127,127,127,1);
}

.menu a:hover{
  color: rgba(0,0,0,0.9);
}
